{% extends 'base.html' %}
{% block content %}
<center><h2>Students</h2></center>
<table class="table" style="width: 100%;">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Email</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{%for student in students %}	
			<tr>
				<th scope="row">{{ student.id }}</th>
				<td>{{ student.email }}</td>
				<td>
					<a href="/mentorski/student_view/{{student.id}}" type="button" class="btn btn-primary" style="color: white;">Edit</a>
					<a href="/mentorski/student_delete/{{student.id}}" onclick="return confirm('Delete entry?')" type="button" class="btn btn-danger" style="color: white;">Delete</a>
				</td>
			</tr>
		{%endfor%}			
	</tbody>
</table>

{% endblock %}