{% extends 'base.html' %}
{% block content %}

<form method="post" id="student_form">
	{% csrf_token %}
	<input type="hidden" name="subject_id" id="subject_id"/>
	<input type="hidden" name="student_id" value="{{ student_id }}"/>
	<div class="row">
		<div class="col-sm-6">
			<h4>Subjects</h4>
			<br>
			<ul class="list-group">
				{% for not_enrolled_subject in not_enrolled_subjects %}	
					<li class="list-group-item">
						{{ not_enrolled_subject.ime }}
						<button onclick="submitFormUrl('/mentorski/enroll_subject/','{{ not_enrolled_subject.id }}')" type="button" class="btn btn-primary" style="color: white; float: right;">Enroll</button>
					</li>				
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-6">
			<h4>Student {{ student.email }}</h4>
			<br>
			<ul class="list-group">
				{% for semester, enrolled_subjects in enrolled_subjects_by_semester.items %}
					<li class="list-group-item" style="font-weight: bold;">Semester {{ semester }}:</li>
					{% for enrolled_subject in enrolled_subjects %}					
						<li class="list-group-item">
							{{ enrolled_subject.ime }}
							{% if enrolled_subject.id in passed_enrolled_subject_ids %}
								<button onclick="submitFormUrl('/mentorski/mark_subject_as_not_passed/','{{ enrolled_subject.id }}')" type="button" class="btn btn-danger" style="color: white; float: right;">Mark as not Passed</button>
							{% else %}
								<button onclick="submitFormUrl('/mentorski/disenroll_subject/','{{ enrolled_subject.id }}')" type="button" class="btn btn-danger" style="color: white; float: right;">Disenroll</button>								
								<button onclick="submitFormUrl('/mentorski/mark_subject_as_passed/','{{ enrolled_subject.id }}')" type="button" class="btn btn-primary" style="color: white; float: right; margin-right: 5px;;">Mark as Passed</button>							
							{% endif %}
						</li>
					{% endfor %}
					<br>
				{% endfor %}
			</ul>
		</div>	
	</div>
</form>

<script>

	function submitFormUrl(url, subject_id) {
		subject_input = document.getElementById('subject_id');
		subject_input.value = subject_id
		form = document.getElementById('student_form');
		form.action = url;
		form.submit();
	}

</script>
{% endblock %}