{% extends 'base.html' %}
{% block content %}
<center><h2>Subjects</h2></center>
<a type="button" class="btn btn-success" href="/mentorski/subject_create" style="margin-bottom: 10px; color: white;">Create</a>
<table class="table" style="width: 100%;">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Code</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for subject in subjects %}	
			<tr>
				<th scope="row">{{ subject.id }}</th>
				<td>{{ subject.ime }}</td>
				<td>{{ subject.kod }}</td>
				<td>
					<a href="/mentorski/subject_edit/{{subject.id}}" type="button" class="btn btn-primary" style="color:white;">Edit</a>
					<a href="/mentorski/subject_view/{{subject.id}}" type="button" class="btn btn-primary" style="color:white;">View</a>
					<a onclick="return confirm('Delete entry?')" href="/mentorski/subject_delete/{{subject.id}}" type="button" class="btn btn-danger" style="color:white;">Delete</a>
				</td>
			</tr>
		{% endfor %}			
	</tbody>
</table>
{% endblock %}